<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
<form action="/productagregar1" method="post">
    <label for="form-control form-control-sm">Nompre producto</label>
    <input name= "name1" class="form-control form-control-sm" type="text" placeholder="Product Name" aria-label=".form-control-sm example">
    <label for="form-control form-control-sm">Precio</label>
    <input name="price" class="form-control form-control-sm" type="text" placeholder="Price" aria-label=".form-control-sm example">
    <label for="form-control form-control-sm">Url</label>
    <input name="url" class="form-control form-control-sm" type="text" placeholder="Url" aria-label=".form-control-sm example">
    <label for="form-control form-control-sm">Id</label>
    <input name="id" class="form-control form-control-sm" type="text" placeholder="Id" aria-label=".form-control-sm example">
    <button type="submit" class="btn_btn-primary">Agregar</button>
</form>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                crossorigin="anonymous"></script>
</body>

</html>