<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Green - Log In</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="text">
            <h2>Shopping Green</h2>
            <p>Shopping Green makes it easy for you to make purchases from anywhere.</p>
        </div>
        <div class="form">
            <form action="/logicalogin" method="post">
                <div class="form-login">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-login">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="inputPassword"
                        placeholder="Password">
                </div>
                <button type="submit" class="btn_btn-primary">Log In</button>
            </form>
            <hr>
            <div class="container1">
                <a href="/register"><button type="submit" class="btn_btn-secondary">Register</button></a>
            </div>
        </div>
    </div>

</body>

</html>