<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Green - Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="form">
            <form action="/logicaregister" method="post">
                <div class="form-register">
                    <label for="name">Username</label>
                    <input name="name" type="text" class="form-control" id="inputName1" placeholder="Username">
                </div>
                <div class="form-register">
                    <label for="lastName">LastName</label>
                    <input name="lastName" type="text" class="form-control" id="inputLastName1" placeholder="Lastname">
                </div>
                <div class="form-register">
                    <label for="age">Age</label>
                    <input name="age" type="number" class="form-control" id="inputAge1" placeholder="Age">
                </div>
                <div class="form-register">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" class="form-control" id="inputEmail1" placeholder="E-mail">
                </div>
                <div class="form-register">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="inputPassword1" placeholder="Password">
                </div>
                <div class="form-register">
                    <label for="numTelephone">Number-Telephone</label>
                    <input name="numTelephone" type="number" class="form-control" id="inputNumTelephone11" placeholder="Number-Telephone">
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn_btn-primary" id="button">Sign up</button>
                </div>
            </form>
            <div class="btn-container">
                <a href="/"><button type="submit" class="btn_btn-secondary" id="button">Cancel</button></a>
            </div>
        </div>
    </div>
</body>

</html>