<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style3.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Thank you for registering</h1>
            <br>
            <p>  <%= name %> <%= lastName %> click back to login</p>
            <br>
            <a href="/"><button type="submit" class="btn_btn-primary">Go back</button></a>
        </div>
    </div>
</body>

</html>